@charset "UTF-8";
#login {
  margin: 3rem auto;
  max-width: 50rem;
  border: 1px solid rgb(112, 58, 165);
}
#login .head {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('');
  background-size: 15rem;
}
#login .head h3 {
  display: inline-block;
  width: 7rem;
  background-color: white;
  box-shadow: 0.3rem 0.3rem 1rem 1rem white;
  text-align: center;
  font-weight: 800;
}
#login .body {
  padding: 4rem 2rem;
}
#login .body label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}
#email, #password {
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #7851a9;
  border-radius: 0.5rem;
}

#email {
	margin-bottom: 1rem;
}
#email:focus, #password:focus {
  border: 1px solid #7851a9;
  box-shadow: 2px 2px 5px 5px rgb(179, 155, 206);
  outline: none;
}
#login .body .btn_login {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(112, 58, 165);
  color: white;
}
